html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Exo 2', sans-serif;
}

header {   
    background-color: #ff7046;
    color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.66);
}

main {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}
/*
img:not(.logo) {
    width: 100%;
}
*/

#sports-types li {
    text-align: center;
}


.col img, .col span {
    border-radius: 10%;
}

.col span {
    display: block;
    text-align: center;
}

.logo {
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.brand-logo {
    margin-left: 30px;
}

.highlight {
    color: #ff7046;
}

.copyright {
    margin-left: 5%;
}

div.col a {
    color: #333333;
}