.select-sport.not-chosen ~ div, .select-sport.not-chosen ~ p {
    display: none;
}

.btn {
    color: white;
}

.select-sport.volleyball ~ :not(.volleyball):not(.btn):not(.chkbox):not(.button) {
    display: none;
}

.select-sport.volleyball ~ p span:not(.volleyball) {
    display: none;
}

.select-sport.streetball ~ :not(.streetball):not(.btn):not(.chkbox):not(.button) {
    display: none;
}

.select-sport.streetball ~ p span:not(.streetball) {
    display: none;
}

.select-sport.table-tennis ~ :not(.table-tennis):not(.btn):not(.button) {
    display: none;
}

.select-sport.poker ~ :not(.poker):not(.btn):not(.button) {
    display: none;
}

.select-sport.chess ~ :not(.chess):not(.btn):not(.button) {
    display: none;
}

.select-sport.water-polo ~ :not(.water-polo):not(.btn):not(.chkbox):not(.button) {
    display: none;
}

.select-sport.water-polo ~ .halfrow div:not(.water-polo) {
    display: none;
}

.select-sport.water-polo ~ p span:not(.water-polo) {
    display: none;
}

.select-sport.badminton ~ :not(.badminton):not(.btn):not(.button) {
    display: none;
}

.select-sport.mafia ~ :not(.mafia):not(.btn):not(.button) {
    display: none;
}

.chkbox.checked ~ :not(.single):not(.btn):not(.button) {
    display: none;
}

.chkbox.checked ~ .single, .chkbox.checked ~ .btn, .chkbox.checked ~ .button{
    display: block !important;
}