html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Exo 2', sans-serif;
}

header {   
    background-color: #ff7046;
    color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.66);
}

main {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}
/*
img:not(.logo) {
    width: 100%;
}
*/

#sports-types li {
    text-align: center;
}


.col span {
    display: block;
    text-align: center;
}

.logo {
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.brand-logo {
    margin-left: 30px;
}

.highlight {
    color: #ff7046;
}

.copyright {
    margin-left: 5%;
}

div.col a {
    color: #333333;
}

.select-sport.not-chosen ~ div, .select-sport.not-chosen ~ p {
    display: none;
}

.btn {
    color: white;
}

.select-sport.volleyball ~ :not(.volleyball):not(.btn):not(.chkbox):not(.button) {
    display: none;
}

.select-sport.volleyball ~ p span:not(.volleyball) {
    display: none;
}

.select-sport.streetball ~ :not(.streetball):not(.btn):not(.chkbox):not(.button) {
    display: none;
}

.select-sport.streetball ~ p span:not(.streetball) {
    display: none;
}

.select-sport.table-tennis ~ :not(.table-tennis):not(.btn):not(.button) {
    display: none;
}

.select-sport.poker ~ :not(.poker):not(.btn):not(.button) {
    display: none;
}

.select-sport.chess ~ :not(.chess):not(.btn):not(.button) {
    display: none;
}

.select-sport.water-polo ~ :not(.water-polo):not(.btn):not(.chkbox):not(.button) {
    display: none;
}

.select-sport.water-polo ~ .halfrow div:not(.water-polo) {
    display: none;
}

.select-sport.water-polo ~ p span:not(.water-polo) {
    display: none;
}

.select-sport.badminton ~ :not(.badminton):not(.btn):not(.button) {
    display: none;
}

.select-sport.mafia ~ :not(.mafia):not(.btn):not(.button) {
    display: none;
}

.chkbox.checked ~ :not(.single):not(.btn):not(.button) {
    display: none;
}

.chkbox.checked ~ .single, .chkbox.checked ~ .btn, .chkbox.checked ~ .button{
    display: block !important;
}